/* components/PostCard.module.css */

.card {
    position: relative;
    display: flex; /* 수평 배치를 위해 flex 사용 */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 320px; /* 카드의 최대 너비 설정 */
    height: 120px;
    margin: 0;
    transition: transform 0.2s ease-in-out;
}

.card:hover{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background-color: rgb(243 244 246);
    transform: scale(1.02); /* 호버 시 확대 효과 */
}

.newBadge {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: rgb(249, 237, 255);
    color: black;
    padding: 5px 8px;
    font-size: 10px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.newBadge:hover {
    transform: scale(1.1); /* 호버 시 확대 효과 */
}

  .image {
    width: 120px; /* 이미지의 너비 고정 */
    height: auto;
    object-fit: cover; /* 이미지를 고정된 크기에 맞게 자르기 */
  }
  
  .content {
    padding: 8px;
    flex: 1; /* 남은 공간을 차지하도록 설정 */
  }
  
  .title {
    font-size: 14px; /* 폰트 크기 약간 줄이기 */
    font-weight: 700;
    margin: 0;
  }
  
  .subtitle {
    font-size: 12px;
    color: #666;
    margin: 0;
  }
  
  .description {
    font-size: 11px;
    padding: 8px 0;
    color: #333;
  }
  